---
layout: default
title: Home
pagination:
  enabled: true
---

<div class="home-container">
  {% for post in paginator.posts %}
  <a href="{{ post.url }}" rel="bookmark" title="{{ post.title }}" class="header-href">
    <article class="hentry">
      <h2 class="entry-title">{{ post.title }}</h2>
      <div class="entry-content">
        <span>{{ post.date | date: "%Y-%m-%d" }}</span>
        {% if post.excerpt %}
        <p>{{ post.excerpt | strip_html | truncate: 100 }}</p>
        {% endif %}
      </div>
    </article>
  </a>
  {% endfor %}
</div>

<!-- Pagination -->
<div class="pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% endif %}
  
  <span class="page_number">
    Page {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% endif %}
</div>
